# Chicago Car Crashes Analysis (2021-2023)
## Phase 3 Project - Classification Model

## 1. Environment Setup

In [2]:
# Install required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.style.use('ggplot')

print("All packages imported successfully!")

All packages imported successfully!

## 2. Data Loading & Initial Inspection

In [3]:
# Load dataset 
try:
    df = pd.read_csv('car-crashes-data-2021-2023.csv')
    print(f"Dataset loaded successfully with {df.shape[0]} rows and {df.shape[1]} columns")
except FileNotFoundError:
    print("ERROR: File not found. Please check the file path.")

Dataset loaded successfully with 327608 rows and 48 columns

In [4]:
# Initial inspection
if 'df' in locals():
    print("\nFirst 3 rows:")
    display(df.head(3))
    
    print("\nBasic info:")
    df.info()
    
    print("\nMissing values:")
    display(df.isnull().sum().sort_values(ascending=False).head(10))

First 3 rows:

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,397c3f7cdef230e87e05c42cbfa2081ebd5f1e019fe0da...,NaN,12/31/2023 02:16:00 PM,35,NO CONTROLS,NO CONTROLS,SNOW,DAYLIGHT,TURNING,ONE-WAY,...,0.0,0.0,2.0,0.0,14,1,12,41.864985,-87.619511,POINT (-87.6195106093 41.864984899958)
1,45bb4ab28f23c5670954845b18b7d8c818fe6cc3b57201...,NaN,12/31/2023 02:10:00 PM,30,NO CONTROLS,NO CONTROLS,RAIN,DAYLIGHT,REAR TO REAR,PARKING LOT,...,0.0,0.0,2.0,0.0,14,1,12,41.979836,-87.807127,POINT (-87.807127417247 41.979836274251)
2,dbbe9ec79f44275a97c327f07b3e9e1f33f78921456f24...,NaN,12/31/2023 02:05:00 PM,30,NO CONTROLS,NO CONTROLS,SNOW,DAYLIGHT,TURNING,NOT DIVIDED,...,0.0,0.0,5.0,0.0,14,1,12,41.926800,-87.680218,POINT (-87.680217585739 41.92679963502)

Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327608 entries, 0 to 327607
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                327608 non-null  object
 1   CRASH_DATE_EST_I               24730 non-null   object
 2   CRASH_DATE                     327608 non-null  object
 3   POSTED_SPEED_LIMIT             327608 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         327608 non-null  object
 5   DEVICE_CONDITION               327608 non-null  object
 6   WEATHER_CONDITION              327608 non-null  object
 7   LIGHTING_CONDITION             327608 non-null  object
 8   FIRST_CRASH_TYPE               327608 non-null  object
 9   TRAFFICWAY_TYPE                327608 non-null  object
 10  LANE_CNT                       41 non-null      float64
 11  ALIGNMENT                      327608 non-null  object
 12  ROADWAY_SURFACE_COND           327608 non-null  object
 13  ROAD_DEFECT                    327608 non-null  object
 14  REPORT_TYPE                    315555 non-null  object
 15  CRASH_TYPE                     327608 non-null  object
 16  INTERSECTION_RELATED_I         76657 non-null   object
 17  NOT_RIGHT_OF_WAY_I             14821 non-null   object
 18  HIT_AND_RUN_I                  112346 non-null  object
 19  DAMAGE                         327608 non-null  object
 20  DATE_POLICE_NOTIFIED           327608 non-null  object
 21  PRIM_CONTRIBUTORY_CAUSE        327608 non-null  object
 22  SEC_CONTRIBUTORY_CAUSE         327608 non-null  object
 23  STREET_NO                      327608 non-null  int64
 24  STREET_DIRECTION               327607 non-null  object
 25  STREET_NAME                    327608 non-null  object
 26  BEAT_OF_OCCURRENCE             327608 non-null  int64
 27  PHOTOS_TAKEN_I                 4475 non-null    object
 28  STATEMENTS_TAKEN_I             8170 non-null    object
 29  DOORING_I                      933 non-null     object
 30  WORK_ZONE_I                    1528 non-null    object
 31  WORK_ZONE_TYPE                 1144 non-null    object
 32  WORKERS_PRESENT_I              445 non-null     object
 33  NUM_UNITS                      327608 non-null  int64
 34  MOST_SEVERE_INJURY             326806 non-null  object
 35  INJURIES_TOTAL                 326807 non-null  float64
 36  INJURIES_FATAL                 326807 non-null  float64
 37  INJURIES_INCAPACITATING        326807 non-null  float64
 38  INJURIES_NON_INCAPACITATING    326807 non-null  float64
 39  INJURIES_REPORTED_NOT_EVIDENT  326807 non-null  float64
 40  INJURIES_NO_INDICATION         326807 non-null  float64
 41  INJURIES_UNKNOWN               326807 non-null  float64
 42  CRASH_HOUR                     327608 non-null  int64
 43  CRASH_DAY_OF_WEEK              327608 non-null  int64
 44  CRASH_MONTH                    327608 non-null  int64
 45  LATITUDE                       324794 non-null  float64
 46  LONGITUDE                      324794 non-null  float64
 47  LOCATION                       324794 non-null  object
dtypes: float64(10), int64(7), object(31)
memory usage: 120.0+ MB

Missing values:

LANE_CNT                  327567
WORKERS_PRESENT_I         327163
DOORING_I                 326675
WORK_ZONE_TYPE            326464
WORK_ZONE_I               326080
PHOTOS_TAKEN_I            323133
STATEMENTS_TAKEN_I        319438
NOT_RIGHT_OF_WAY_I        312787
CRASH_DATE_EST_I          302878
INTERSECTION_RELATED_I    250951
dtype: int64